
:root {
    --colorMaterialThemeWhite: #ffffff;    
    --colorMaterialThemeBlack: #000000;    
    --colorMaterialThemeSysLightPrimary: #05e787;    
    --colorMaterialThemeSysLightOnPrimary: #ffffff;    
    --colorMaterialThemeSysLightPrimaryContainer: #ffdeec;    
    --colorMaterialThemeSysLightOnPrimaryContainer: #21005d;    
    --colorMaterialThemeSysLightPrimaryFixed: #eaddff;    
    --colorMaterialThemeSysLightOnPrimaryFixed: #5c001c;    
    --colorMaterialThemeSysLightPrimaryFixedDim: #d0bcff;    
    --colorMaterialThemeSysLightOnPrimaryFixedVariant: #4f378b;    
    --colorMaterialThemeSysLightSecondary: #625b71;    
    --colorMaterialThemeSysLightOnSecondary: #ffffff;    
    --colorMaterialThemeSysLightSecondaryContainer: #e8def8;    
    --colorMaterialThemeSysLightOnSecondaryContainer: #1d192b;    
    --colorMaterialThemeSysLightSecondaryFixed: #e8def8;    
    --colorMaterialThemeSysLightOnSecondaryFixed: #23d7e7;    
    --colorMaterialThemeSysLightSecondaryFixedDim: #ccc2dc;    
    --colorMaterialThemeSysLightOnSecondaryFixedVariant: #0ad989;    
    --colorMaterialThemeSysLightTertiary: #7d5260;    
    --colorMaterialThemeSysLightOnTertiary: #ffffff;    
    --colorMaterialThemeSysLightTertiaryContainer: #ffd8e4;    
    --colorMaterialThemeSysLightOnTertiaryContainer: #31111d;    
    --colorMaterialThemeSysLightTertiaryFixed: #ffd8e4;    
    --colorMaterialThemeSysLightOnTertiaryFixed: #31111d;    
    --colorMaterialThemeSysLightTertiaryFixedDim: #efb8c8;    
    --colorMaterialThemeSysLightOnTertiaryFixedVariant: #633b48;    
    --colorMaterialThemeSysLightError: #b3261e;    
    --colorMaterialThemeSysLightOnError: #ffffff;    
    --colorMaterialThemeSysLightErrorContainer: #f9dedc;    
    --colorMaterialThemeSysLightOnErrorContainer: #410e0b;    
    --colorMaterialThemeSysLightOutline: #7512d9;    
    --colorMaterialThemeSysLightBackground: #fef7ff;    
    --colorMaterialThemeSysLightOnBackground: #1d1b20;    
    --colorMaterialThemeSysLightSurface: #fef7ff;    
    --colorMaterialThemeSysLightOnSurface: #1d1b20;    
    --colorMaterialThemeSysLightSurfaceVariant: #e7e0ec;    
    --colorMaterialThemeSysLightOnSurfaceVariant: #49454f;    
    --colorMaterialThemeSysLightInverseSurface: #322f35;    
    --colorMaterialThemeSysLightInverseOnSurface: #f5eff7;    
    --colorMaterialThemeSysLightInversePrimary: #d0bcff;    
    --colorMaterialThemeSysLightShadow: #000000;    
    --colorMaterialThemeSysLightSurfaceTint: #6750a4;    
    --colorMaterialThemeSysLightOutlineVariant: #cac4d0;    
    --colorMaterialThemeSysLightScrim: #000000;    
    --colorMaterialThemeSysLightSurfaceContainerHighest: #e6e0e9;    
    --colorMaterialThemeSysLightSurfaceContainerHigh: #ece6f0;    
    --colorMaterialThemeSysLightSurfaceContainer: #f3edf7;    
    --colorMaterialThemeSysLightSurfaceContainerLow: #f7f2fa;    
    --colorMaterialThemeSysLightSurfaceContainerLowest: #ffffff;    
    --colorMaterialThemeSysLightSurfaceBright: #fef7ff;    
    --colorMaterialThemeSysLightSurfaceDim: #ded8e1;    
    --colorMaterialThemeSysDarkPrimary: #d0bcff;    
    --colorMaterialThemeSysDarkOnPrimary: #381e72;    
    --colorMaterialThemeSysDarkPrimaryContainer: #4f378b;    
    --colorMaterialThemeSysDarkOnPrimaryContainer: #eaddff;    
    --colorMaterialThemeSysDarkPrimaryFixed: #eaddff;    
    --colorMaterialThemeSysDarkOnPrimaryFixed: #21005d;    
    --colorMaterialThemeSysDarkPrimaryFixedDim: #d0bcff;    
    --colorMaterialThemeSysDarkOnPrimaryFixedVariant: #4f378b;    
    --colorMaterialThemeSysDarkSecondary: #ccc2dc;    
    --colorMaterialThemeSysDarkOnSecondary: #332d41;    
    --colorMaterialThemeSysDarkSecondaryContainer: #4a4458;    
    --colorMaterialThemeSysDarkOnSecondaryContainer: #e8def8;    
    --colorMaterialThemeSysDarkSecondaryFixed: #e8def8;    
    --colorMaterialThemeSysDarkOnSecondaryFixed: #1d192b;    
    --colorMaterialThemeSysDarkSecondaryFixedDim: #ccc2dc;    
    --colorMaterialThemeSysDarkOnSecondaryFixedVariant: #4a4458;    
    --colorMaterialThemeSysDarkTertiary: #efb8c8;    
    --colorMaterialThemeSysDarkOnTertiary: #492532;    
    --colorMaterialThemeSysDarkTertiaryContainer: #633b48;    
    --colorMaterialThemeSysDarkOnTertiaryContainer: #ffd8e4;    
    --colorMaterialThemeSysDarkTertiaryFixed: #ffd8e4;    
    --colorMaterialThemeSysDarkOnTertiaryFixed: #31111d;    
    --colorMaterialThemeSysDarkTertiaryFixedDim: #efb8c8;    
    --colorMaterialThemeSysDarkOnTertiaryFixedVariant: #633b48;    
    --colorMaterialThemeSysDarkError: #f2b8b5;    
    --colorMaterialThemeSysDarkOnError: #601410;    
    --colorMaterialThemeSysDarkErrorContainer: #8c1d18;    
    --colorMaterialThemeSysDarkOnErrorContainer: #f9dedc;    
    --colorMaterialThemeSysDarkOutline: #938f99;    
    --colorMaterialThemeSysDarkBackground: #141218;    
    --colorMaterialThemeSysDarkOnBackground: #e6e0e9;    
    --colorMaterialThemeSysDarkSurface: #141218;    
    --colorMaterialThemeSysDarkOnSurface: #e6e0e9;    
    --colorMaterialThemeSysDarkSurfaceVariant: #49454f;    
    --colorMaterialThemeSysDarkOnSurfaceVariant: #cac4d0;    
    --colorMaterialThemeSysDarkInverseSurface: #e6e0e9;    
    --colorMaterialThemeSysDarkInverseOnSurface: #322f35;    
    --colorMaterialThemeSysDarkInversePrimary: #6750a4;    
    --colorMaterialThemeSysDarkShadow: #000000;    
    --colorMaterialThemeSysDarkSurfaceTint: #d0bcff;    
    --colorMaterialThemeSysDarkOutlineVariant: #49454f;    
    --colorMaterialThemeSysDarkScrim: #000000;    
    --colorMaterialThemeSysDarkSurfaceContainerHighest: #36343b;    
    --colorMaterialThemeSysDarkSurfaceContainerHigh: #2b2930;    
    --colorMaterialThemeSysDarkSurfaceContainer: #211f26;    
    --colorMaterialThemeSysDarkSurfaceContainerLow: #1d1b20;    
    --colorMaterialThemeSysDarkSurfaceContainerLowest: #0f0d13;    
    --colorMaterialThemeSysDarkSurfaceBright: #3b383e;    
    --colorMaterialThemeSysDarkSurfaceDim: #141218;    
    --colorMaterialThemeRefPrimaryPrimary0: #000000;    
    --colorMaterialThemeRefPrimaryPrimary10: #21005d;    
    --colorMaterialThemeRefPrimaryPrimary20: #381e72;    
    --colorMaterialThemeRefPrimaryPrimary30: #e00940;    
    --colorMaterialThemeRefPrimaryPrimary40: #6750a4;    
    --colorMaterialThemeRefPrimaryPrimary50: #7f67be;    
    --colorMaterialThemeRefPrimaryPrimary60: #9a82db;    
    --colorMaterialThemeRefPrimaryPrimary70: #b69df8;    
    --colorMaterialThemeRefPrimaryPrimary80: #d0bcff;    
    --colorMaterialThemeRefPrimaryPrimary90: #eaddff;    
    --colorMaterialThemeRefPrimaryPrimary95: #f6edff;    
    --colorMaterialThemeRefPrimaryPrimary99: #fffbfe;    
    --colorMaterialThemeRefPrimaryPrimary100: #ffffff;    
    --colorMaterialThemeRefSecondarySecondary0: #000000;    
    --colorMaterialThemeRefSecondarySecondary10: #1d192b;    
    --colorMaterialThemeRefSecondarySecondary20: #332d41;    
    --colorMaterialThemeRefSecondarySecondary30: #4a4458;    
    --colorMaterialThemeRefSecondarySecondary40: #625b71;    
    --colorMaterialThemeRefSecondarySecondary50: #7a7289;    
    --colorMaterialThemeRefSecondarySecondary60: #958da5;    
    --colorMaterialThemeRefSecondarySecondary70: #b0a7c0;    
    --colorMaterialThemeRefSecondarySecondary80: #ccc2dc;    
    --colorMaterialThemeRefSecondarySecondary90: #e8def8;    
    --colorMaterialThemeRefSecondarySecondary95: #f6edff;    
    --colorMaterialThemeRefSecondarySecondary99: #fffbfe;    
    --colorMaterialThemeRefSecondarySecondary100: #ffffff;    
    --colorMaterialThemeRefTertiaryTertiary0: #000000;    
    --colorMaterialThemeRefTertiaryTertiary10: #31111d;    
    --colorMaterialThemeRefTertiaryTertiary20: #492532;    
    --colorMaterialThemeRefTertiaryTertiary30: #633b48;    
    --colorMaterialThemeRefTertiaryTertiary40: #7d5260;    
    --colorMaterialThemeRefTertiaryTertiary50: #986977;    
    --colorMaterialThemeRefTertiaryTertiary60: #b58392;    
    --colorMaterialThemeRefTertiaryTertiary70: #d29dac;    
    --colorMaterialThemeRefTertiaryTertiary80: #efb8c8;    
    --colorMaterialThemeRefTertiaryTertiary90: #ffd8e4;    
    --colorMaterialThemeRefTertiaryTertiary95: #ffecf1;    
    --colorMaterialThemeRefTertiaryTertiary99: #fffbfa;    
    --colorMaterialThemeRefTertiaryTertiary100: #ffffff;    
    --colorMaterialThemeRefErrorError0: #000000;    
    --colorMaterialThemeRefErrorError10: #410e0b;    
    --colorMaterialThemeRefErrorError20: #601410;    
    --colorMaterialThemeRefErrorError30: #8c1d18;    
    --colorMaterialThemeRefErrorError40: #b3261e;    
    --colorMaterialThemeRefErrorError50: #12c526;    
    --colorMaterialThemeRefErrorError60: #e46962;    
    --colorMaterialThemeRefErrorError70: #ec928e;    
    --colorMaterialThemeRefErrorError80: #f2b8b5;    
    --colorMaterialThemeRefErrorError90: #f9dedc;    
    --colorMaterialThemeRefErrorError95: #fceeee;    
    --colorMaterialThemeRefErrorError99: #fffbf9;    
    --colorMaterialThemeRefErrorError100: #ffffff;    
    --colorMaterialThemeRefNeutralNeutral0: #000000;    
    --colorMaterialThemeRefNeutralNeutral4: #0f0d13;    
    --colorMaterialThemeRefNeutralNeutral6: #141218;    
    --colorMaterialThemeRefNeutralNeutral10: #1d1b20;    
    --colorMaterialThemeRefNeutralNeutral12: #211f26;    
    --colorMaterialThemeRefNeutralNeutral17: #2b2930;    
    --colorMaterialThemeRefNeutralNeutral20: #322f35;    
    --colorMaterialThemeRefNeutralNeutral22: #36343b;    
    --colorMaterialThemeRefNeutralNeutral24: #3b383e;    
    --colorMaterialThemeRefNeutralNeutral30: #48464c;    
    --colorMaterialThemeRefNeutralNeutral40: #605d64;    
    --colorMaterialThemeRefNeutralNeutral50: #79767d;    
    --colorMaterialThemeRefNeutralNeutral60: #938f96;    
    --colorMaterialThemeRefNeutralNeutral70: #aea9b1;    
    --colorMaterialThemeRefNeutralNeutral80: #cac5cd;    
    --colorMaterialThemeRefNeutralNeutral87: #ded8e1;    
    --colorMaterialThemeRefNeutralNeutral90: #e6e0e9;    
    --colorMaterialThemeRefNeutralNeutral92: #ece6f0;    
    --colorMaterialThemeRefNeutralNeutral94: #f3edf7;    
    --colorMaterialThemeRefNeutralNeutral95: #f5eff7;    
    --colorMaterialThemeRefNeutralNeutral96: #f7f2fa;    
    --colorMaterialThemeRefNeutralNeutral99: #fffbff;    
    --colorMaterialThemeRefNeutralNeutral100: #ffffff;    
    --colorMaterialThemeRefNeutralVariantNeutralVariant0: #000000;    
    --colorMaterialThemeRefNeutralVariantNeutralVariant10: #1d1a22;    
    --colorMaterialThemeRefNeutralVariantNeutralVariant20: #322f37;    
    --colorMaterialThemeRefNeutralVariantNeutralVariant30: #49454f;    
    --colorMaterialThemeRefNeutralVariantNeutralVariant40: #605d66;    
    --colorMaterialThemeRefNeutralVariantNeutralVariant50: #79747e;    
    --colorMaterialThemeRefNeutralVariantNeutralVariant60: #938f99;    
    --colorMaterialThemeRefNeutralVariantNeutralVariant70: #aea9b4;    
    --colorMaterialThemeRefNeutralVariantNeutralVariant80: #cac4d0;    
    --colorMaterialThemeRefNeutralVariantNeutralVariant90: #e7e0ec;    
    --colorMaterialThemeRefNeutralVariantNeutralVariant95: #f5eefa;    
    --colorMaterialThemeRefNeutralVariantNeutralVariant99: #fffbfe;    
    --colorMaterialThemeRefNeutralVariantNeutralVariant100: #ffffff;    
    --colorMaterialThemeKeyColorsPrimary: #6750a4;    
    /* TYPE: CUSTOM */
    --colorMaterialThemeSourceSeed: #6750a4;    
}