
:root {
    --measureLineHeightLineheights0: 64px;    
    --measureLineHeightLineheights1: 52px;    
    --measureLineHeightLineheights2: 44px;    
    --measureLineHeightLineheights3: 40px;    
    --measureLineHeightLineheights4: 36px;    
    --measureLineHeightLineheights5: 32px;    
    --measureLineHeightLineheights6: 28px;    
    --measureLineHeightLineheights7: 24px;    
    --measureLineHeightLineheights8: 20px;    
    --measureLineHeightLineheights9: 16px;    
    --measureFontSizeFontsize0: 11px;    
    --measureFontSizeFontsize1: 12px;    
    --measureFontSizeFontsize2: 14px;    
    --measureFontSizeFontsize3: 17px;    
    --measureFontSizeFontsize4: 22px;    
    --measureFontSizeFontsize5: 24px;    
    --measureFontSizeFontsize6: 28px;    
    --measureFontSizeFontsize7: 32px;    
    --measureFontSizeFontsize8: 36px;    
    --measureFontSizeFontsize9: 45px;    
    --measureFontSizeFontsize10: 57px;    
    --measureLetterSpacingLetterspacing0: 0%;    
    --measureParagraphSpacingParagraphspacing0: 0px;    
    --measureDimensionParagraphindent0: 0px;    
}